MONGODB_HOST=188.225.83.49
MONGODB_PORT=27017
MONGODB_USERNAME=gen_user
MONGODB_PASSWORD=U-+dQ&:.q#%4{W
MONGODB_DBNAME=default_db



mongodb://gen_user:U-%2BdQ%26%3A.q%23%254%7BW@188.225.83.49:27017/default_db?authSource=admin&directConnection=true
